<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportguide">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lologo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".Rules" />
        <activity android:name=".Football" />
        <activity android:name=".Basketball" />
        <activity android:name=".VollyBall" />
        <activity android:name=".Cricket" />
        <activity android:name=".RUNNING" />
        <activity android:name=".Inspirationpage" />
        <activity android:name=".Categories" />
        <activity android:name=".Training" />
        <activity android:name=".News" />
        <activity android:name=".Stories" />
        <activity android:name=".SuccessfulFootballPlayer" />
        <activity android:name=".SuccessfulVolleyballPlayer" />
        <activity android:name=".SuccessfulCricketPlayer" />
        <activity android:name=".SuccessfulBasketballPlayer" />
        <activity android:name=".SuccessfulRunningPlayer" />
        <activity android:name=".LionelMessi"></activity>
    </application>

</manifest>